body {
  font-family: 'Courier New', Courier, monospace;
  background: lightblue url("city-4820579_1920.jpg") ;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  width: 90%;                 
  max-width: 900px;           
  margin: 20px auto 0 auto;    
  padding: 15px 15px;
  text-align: center;
}

h1 {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#bus {
  width: 30px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 5px;
}

nav li {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

main {
  display: grid;
  gap: 20px;
  padding: 20px;
  margin-top: 220px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section {
  background-color: rgba(0, 0, 0, 0.824);
  padding: 20px;
  border-radius: 15px;
}
div{
  text-align: center;
}
section .text{
  text-align: left;
}

h2 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

h3 {
  color: #ffe;
}

footer {
  background-color: rgba(0, 0, 0, 0.824);
  text-align: center;
  padding: 15px;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  width: auto;

}

@media (max-width: 768px) {
  main{
    grid-template-columns: 1fr;
  }
  section {
    flex-direction: column;
    text-align: center;
  }

  section img {
    max-width: 100%;
  }

  section .text {
    width: 100%;
  }
}
@media (min-width: 768px){
  section img{
    width: 90%;
  }
  main{
    margin-top: 440px;
  }

}
