<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.ni55641" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Błażej 55641</name>
    <description>
        Weather App
    </description>
    <author email="sb55641@zut.edu.pl" href="https://www.wi.zut.edu.pl">
       Błażej Skiba
    </author>
    <platform name="electron">
        <icon src="res/electron/Papirus-Team-Papirus-Apps-Weather.512.png" />
        <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
